<nav class="bottom-nav">
    <button class="nav-item" data-action="inicio">
        <img src="assets/icons/casa.png" alt="">
        <span>Inicio</span>
    </button>

    <button class="nav-item" data-action="favoritos">
        <img src="assets/icons/favorito_claro.png" alt="">
        <span>Favoritos</span>
    </button>

    <button class="nav-item publicar" data-action="publicar">
        <img src="assets/icons/mas.png" alt="">
        <span>Publicar</span>
    </button>

    <button class="nav-item" data-action="mensajes">
        <img src="assets/icons/conversacion.png" alt="">
        <span>Mensajes</span>
    </button>

    <button class="nav-item" data-action="perfil">
        <img src="assets/icons/usuario.png" alt="">
        <span>Perfil</span>
    </button>
</nav>